<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert To Text</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico?v=2" />
</head>

<body>
    <nav>
        <div>
            <a href="/"><img class="logo" src="/img/logo.png" alt="Logo"></a>
        </div>
        <div>
            <% if(user) { %>
                <form id="logout" action="/logout" method="POST">
                    <button class="btn-primary"><a onclick="document.getElementById('logout').submit()"
                            href="#">Logout</a></button>
                </form>
                <% } else { %>
                    <button class="btn-primary"><a href="/register">Signup</a></button>
                    <button class="btn-primary login"><a href="/login">Login</a></button>
                    <% } %>
        </div>
    </nav>
    <%- body %>
</body>

</html>