@import './variable';

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.flashmessage {
    width: 100%;
    color: red;
    font-size: small;
    margin-bottom: 2rem;
    // text-red-500 text-sm
}

.logo {
    width: 25%;
    margin-left: 2rem;
}

nav {
    height: 7.5rem;
    background-color: #A7E1F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.btn-primary {
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: white;
    margin-right: 2rem;
    height: 3rem;
    width: 6rem;
    transition: $smooth;

    &:hover {
        cursor: pointer;
        font-weight: 600;
        border-color: black;
    }
}

.login {
    margin-right: 3rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 7.5rem);
}

.card {
    background: rgba(167, 225, 248, 0.8);
    height: 25rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    transition: $smooth;

    &:hover {
        cursor: pointer;
        box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.25);
        font-weight: 600;
    }
}

.arrow {
    width: 17.5%;
    margin-right: 0.5rem;
}

.icon {
    filter: invert(100%);
}

.image {
    width: 35%;
}

.mic {
    width: 25%;
}

.conversion {
    display: flex;
    justify-content: center;
    width: min-content;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.conversion>span {
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

.auth-bg {
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.25);
    background-color: #A7E1F8;
}

.blackToWhite {
    transition: $smooth;
}

.outer {
    background: rgba(167, 225, 248, 0.75);
    width: 40vw;
}

.inner {
    background-color: #A7E1F8;
    width: calc(40vw - 4rem);
    border: 2px dashed #FFFFFF;
}